In [5]:
import numpy as np
import pandas as pd

In [70]:
A=[1,2,3,4,5,6]
B=[13,21,34]
A.extend(B)
print(A)

#Question 1

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [9]:
np.identity(3)
#Question 2

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [11]:
fuel_data=pd.read_csv('quiz.csv', error_bad_lines=False)
fuel_data.describe(include='all')
#Question 4

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523,29523.000000,29523.000000,29523,29523,29343,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
unique,29523,NaN,NaN,2315,6,9,NaN,NaN,NaN,NaN,NaN
top,f1_fuel_1999_12_182_1_8,NaN,NaN,big stone,gas,mcf,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,156,11486,11354,NaN,NaN,NaN,NaN,NaN
mean,NaN,118.601836,2005.806050,NaN,NaN,NaN,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,NaN,74.178353,7.025483,NaN,NaN,NaN,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,NaN,1.000000,1994.000000,NaN,NaN,NaN,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,NaN,55.000000,2000.000000,NaN,NaN,NaN,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,NaN,122.000000,2006.000000,NaN,NaN,NaN,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,NaN,176.000000,2012.000000,NaN,NaN,NaN,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,NaN,514.000000,2018.000000,NaN,NaN,NaN,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [23]:
fuel_data.groupby('fuel_type_code_pudl').mean()
#Question 3

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
fuel_type_code_pudl,,,,,,,
coal,115.637534,2004.623143,1.903473e+06,20.762780,67.421830,116.951141,1.787190
gas,124.122062,2005.978060,4.843183e+06,1.021913,13.659397,12.095172,5.408876
nuclear,107.397311,2002.970660,5.454838e+06,17.582120,4955.157002,28616.915039,1.716559
oil,113.236235,2007.195933,6.311677e+04,5.814377,168.877086,313.907691,12.698732
other,110.467066,2001.700599,2.948137e+06,0.572752,18.253856,16.871485,155.084910
waste,154.253968,2005.650794,1.171914e+05,0.341163,19.518122,18.413052,822.709937

In [29]:
fuel_data.groupby('fuel_qty_burned').skew()
#Question 5

fuel_qty_burned
1.0              utility_id_ferc1               -0.139365
                 report_year                     0.260194
                 fuel_mmbtu_per_unit            -2.752201
                 fuel_cost_per_unit_burned       2.698443
                 fuel_cost_per_unit_delivered    3.076746
                                                   ...
555894250.0      report_year                          NaN
                 fuel_mmbtu_per_unit                  NaN
                 fuel_cost_per_unit_burned            NaN
                 fuel_cost_per_unit_delivered         NaN
                 fuel_cost_per_mmbtu                  NaN
Length: 158754, dtype: float64

In [30]:
fuel_data.isnull().sum()

#Question 6

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [34]:
fuel_data.groupby('fuel_unit').count().sum()

#Question 6

record_id                       29343
utility_id_ferc1                29343
report_year                     29343
plant_name_ferc1                29343
fuel_type_code_pudl             29343
fuel_qty_burned                 29343
fuel_mmbtu_per_unit             29343
fuel_cost_per_unit_burned       29343
fuel_cost_per_unit_delivered    29343
fuel_cost_per_mmbtu             29343
dtype: int64

In [37]:
fuel_unit_full = 29343
fuel_unit_empty = 180
x= (fuel_unit_empty/fuel_unit_full) * 100
print(x)

#Question 6

0.6134342091810653

In [62]:
fuel_data.groupby('report_year')['fuel_cost_per_unit_burned'].sum()
#Question 9

report_year
1994    263292.115
1995    425661.488
1996     86425.275
1997    163533.452
1998    140238.656
1999    126056.285
2000    326495.434
2001    180365.641
2002    121921.135
2003    149175.726
2004    184637.699
2005    135924.139
2006    188142.032
2007    256114.312
2008    314312.022
2009    263584.566
2010    331581.467
2011    374175.603
2012    321693.544
2013    306933.236
2014    518002.469
2015    260060.984
2016    255484.814
2017    244557.823
2018    221575.426
Name: fuel_cost_per_unit_burned, dtype: float64

In [67]:
fuel_1994=263292.115
fuel_1998=140238.656

answer = ((fuel_1998-fuel_1994)/fuel_1994)*100
print(answer)

#Question 9

-46.73647708743576

In [61]:
fuel_data.groupby('report_year')['fuel_cost_per_unit_delivered'].sum()
#Question 10

report_year
1994    7.859053e+04
1995    3.931506e+04
1996    1.000602e+07
1997    1.218738e+07
1998    3.178799e+05
1999    2.682921e+04
2000    1.352903e+06
2001    8.142834e+04
2002    5.735121e+04
2003    6.740849e+04
2004    1.663129e+05
2005    5.258506e+04
2006    4.805125e+04
2007    5.476283e+04
2008    7.194631e+04
2009    7.975923e+05
2010    1.158381e+05
2011    7.412059e+04
2012    7.581617e+04
2013    2.065968e+05
2014    2.256952e+05
2015    3.569033e+05
2016    1.074344e+05
2017    4.587348e+04
2018    4.748057e+05
Name: fuel_cost_per_unit_delivered, dtype: float64

In [72]:
fuel_data.groupby('fuel_cost_per_unit_burned').corrcoeff(fuel_cost_per_unit_burned,report_year)

AttributeError: 'DataFrameGroupBy' object has no attribute 'corrcoeff'